<?xml version="1.0"?>
<ruleset>
	<description>This is config for this repo</description>
	<file>src</file>
	<rule ref="src" />

    <!-- You should use at least PHP 8.1 -->
	<config name="testVersion" value="8.1-"/>
</ruleset>
